.movie-picture {
  width: 100%;
}

.donation-message .first-sentence {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.donation-message .title {
  font-style: italic;
}

.gift-amount-choices {
  display: flex;
  margin-top: 2rem;
}

.gift-amount-title {
  font-size: 1rem;
  margin: 2rem 0 0 0;
  text-transform: uppercase;
}

#error-message {
  color: red;
  font-weight: bold;
}

.gift-amount-choices a {
  display: inline-block;
  background-color: rgb(6, 61, 113);
  color: white;
  flex-grow: 1;
  min-width: 50px;
  max-width: 120px;
  padding: 0.8rem 0;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

.gift-amount-choices a:hover {
  opacity: 0.9;
}

.gift-amount-choices a:focus {
  outline-color: black;
  outline-width: 2px;
}

.set-amount-link:not(:first-of-type) {
  margin-left: 1.5em;
}

.other-amount {
  background-color: rgb(6, 61, 113);
  cursor: pointer;
  display: inline-block;
  min-width: 125px;
  margin-left: 1.5em;
  padding-right: 0.5em;
  height: 100%;
}

.other-amount a {
  background-color: rgb(6, 61, 113);
  display: inline-block;
  padding: 0.8rem 0.5em;
  min-width: 1em;
}

.other-amount a:hover {
  background-color: rgb(6, 92, 113);
}

.other-amount input {
  line-height: 140%;
  font-size: 100%;
}

.other-amount input.error-input {
  background-color: red;
}
