.movie-picture {
  width: 100%;
}

.first-sentence {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  font-style: italic;
}

.gift-amount-title {
  font-size: 1rem;
  margin: 3rem 0 2rem 0;
  text-transform: uppercase;
}

.set-amount-link,
.other-amount a {
  background-color: rgb(6, 61, 113);
  color: white;
  padding: 0.8rem 3rem;
  text-decoration: none;
  font-weight: 400;
}

.set-amount-link:not(:first-of-type) {
  margin-left: 1.5em;
}

.other-amount {
  /* border: 2px solid rgb(6, 61, 113); */
  display: inline-block;
  margin-left: 1.5em;
}

.other-amount a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
}

.other-amount input {
  border: 2px solid rgb(6, 61, 113);
  height: 100%;
}
