.name-and-bio {
  display: flex;
  margin-bottom: 2em;
}

.headshot-and-name-column {
  width: 30%;
  max-width: 400px;
}

.name-and-bio .headshot-and-name {
  color: white;
  position: relative;
}

.name-and-bio img {
  display: block;
  width: 100%;
  height: auto;
}

.behind-text-mask {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
}

.filmmaker-name {
  position: absolute;
  color: white;
  bottom: 15px;
  left: 15px;
  font-size: 110%;
  font-weight: 600;
  text-transform: uppercase;
}

.filmmaker-bio {
  margin-left: 2em;
  width: 50%;
}

.filmmaker-bio p:first-child {
  margin-top: 0;
  padding-top: 0;
}
