.info-and-interviews {
  display: flex;
  justify-content: space-between;
}

.info-and-interviews > .filmmakers-info {
  flex: 2 1 0;
}

.embedded-video .interviews-caption {
  margin-top: 0;
  text-align: center;
}
