.standard-page {
  color: rgb(88, 88, 88);
  letter-spacing: 0.2px;
  padding: 0 2em 4em 4em;
  font-family: Big Shoulders Text, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 140%;
  line-height: 130%;
}
