.standard-page {
  color: rgb(50, 50, 50);
  letter-spacing: 0.2px;
  margin-top: 5em;
  padding: 0 2em 4em 4em;
  font-family: 'Slabo 27px', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 110%;
  line-height: 150%;
  position: relative;
}

.site-logo {
  position: absolute;
  top: -120px;
  width: 80px;
  height: auto;
}
