.top-links {
  text-transform: uppercase;
  justify-content: flex-end;
  margin-top: 32px;
  margin-right: 96px;
  display: flex;
}

.top-links a {
  color: black;
  text-decoration: none;
}

.top-links > div {
  margin-left: 8px;
}

.top-links div:not(:first-child)::before {
  content: "/ ";
}

.top-links a:hover {
  text-decoration: underline;
}

.current-page-link {
  font-weight: bolder;
}

.home-top-links {
  color: white;
  position: absolute;
  right: 0;
}

.top-links.home-top-links div::before {
  content: none;
}

.home-top-links a {
  color: white;
  margin-left: 2em;
}
